nav {
  background: rgba(0, 0, 0, 0.2) !important;
  /* background-color: #e2c156; */
  width: max-content;
  display: block !important;
  padding: 0.7rem 1.7rem !important;
  z-index: 2 !important;
  position: fixed !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: 2rem !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 0.8rem !important;
  border-radius: 3rem !important;
  backdrop-filter: blur(15px) !important;
}

nav a {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background: transparent !important;
  padding: 0rem 1rem !important;
  color: var(--color-white) !important;
  /* color: rgb(70, 70, 70); */
  font-size: 1.1rem !important;
  border-radius: 5px !important;
}

nav a:hover {
  /* color: var(--color-primary) !important; */
}
nav a.active {
  /* color: var(--color-primary) !important; */
  color: #00ADB5 !important;
}
span {
  font-size: 14px !important;
}

@media screen and (max-width: 1024px) {
  nav a {
    padding: 0.1rem 1.1rem !important;
  }
}

@media screen and (max-width: 600px) {
  nav {
    bottom: 0rem !important;
    border-radius: 0 !important;
    width: 100%;
    /* text-align: center; */
    display: flex ;
    justify-content: center;
  }

  span {
    display: none !important;
  }
  nav a {
    padding: 0.4rem 0.7rem !important;
  }
}
